// Body
$body-bg: #fafafa;

// Typography
$font-family-sans-serif: "Roboto", Arial, Helvetica, sans-serif;
$font-family-signature: 'Give You Glory', cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-weight-bolder: 800;

$mark-padding: 0.2em 0.5em;

// Colors
$white:    #fff !default;
$gray-100: #fafafa;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #1c1c1c;
$black:    #000 !default;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #a54691;
$pink-light: #fd79a8;
$pink: #ff0069;
$pink-dark: #cd135f;
$red: #e3342f;
$orange: #ff9200;
$yellow: #ffed4a;
$green: #00CB52;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: $purple;

// Cards
$card-cap-bg: $pink-dark;
$card-cap-color: $white;
