// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.strong {
    font-weight: $font-weight-bolder;
}

.app-container {
    flex-grow: 1;
}

// Components
@import 'components/header';
@import 'components/footer';
@import "components/trust-pilot";
@import 'components/forms';
@import 'components/addresses';
@import 'components/lenders';
@import 'components/application-lenders';
@import 'components/t-and-c';
