// Typography
$font-family-sans-serif: 'roboto', Arial, Helvetica, sans-serif;
$font-family-signature: 'giveyouglory', cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$gutters: 1rem;

$pink: #bf6c84;
$purple: #685e79;

@import "bootstrap";

@page {
    header: page-header;
    footer: page-footer;
}

body {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-base;
}

.table {
    margin: $gutters 0;
    width: 100%;

    tr {
        th {
            text-align: left;
        }

        th,
        td {
            border-spacing: 0;
        }
    }
}

ol, ul {
    padding-left: 1rem;
}

.rmm-logo {
    float: left;
}

.rmm-address {
    float: right;
    text-align: right;
    font-style: normal;
}

.t-and-c-section-header {
    font-weight: bold;
}

.signature-line {
    line-height: 2.2rem;
}

.signature {
    font-family: $font-family-signature;
    font-size: 2rem;
    vertical-align: middle;
}

.footer-gapper {
    padding: 15mm 20mm;
}

.footer-section {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 20mm;
    text-align: center;
}

.footer-line {
    padding: 20mm 20mm 1em;
    font-size: 0.7rem;
    text-align: center;
}

.footer-logo {
    padding: 2rem 0;
    background-color: $pink;
    text-align: center;

    > img {
        width: 200px;
    }
}
