.address-list {
    .card {
        margin: ($grid-gutter-width / 2);
        width: 100%;

        @media screen and (min-width: map_get($grid-breakpoints, 'md')) {
            flex-basis: calc(50% - #{$grid-gutter-width});
        }

        @media screen and (min-width: map_get($grid-breakpoints, 'lg')) {
            flex-basis: calc(33.333% - #{$grid-gutter-width});
        }
    }
}

.addresses-form {
    margin-top: $paragraph-margin-bottom;
    padding-top: $paragraph-margin-bottom;
    border-top: $hr-border-width solid $hr-border-color;
}
