.application-lender-label {
    display: block;
    margin-bottom: 0;
    font-weight: $font-weight-bold;
}

.application-lender-value {
    margin-bottom: $paragraph-margin-bottom;
}

.application-lender-year {
    display: inline;
    width: calc(3.5rem - #{$input-padding-x});
    text-align: center;
}

.application-lender-year-joiner {
    display: inline;
}
