.rmm-footer {
    padding: $grid-gutter-width 0;
    background: $pink-light;

    p {
        &,
        a {
            color: $light;
        }

        a {
            text-decoration: underline;
        }
    }
}

.rmm-footer-dark {
    background: $dark;
}
