.lender-field-label + .form-help {
    margin-top: #{-$paragraph-margin-bottom};
}

.form-section {
    margin-bottom: $paragraph-margin-bottom * 2;
}

.form-confirmation {
    .lead {
        text-align: center;
    }
}
