.form-lenders {
    .form-section {
        margin-bottom: 0;
    }

    .card {
        margin-bottom: $grid-gutter-width;
    }

    .lender-button {
        margin-bottom: $paragraph-margin-bottom;
    }
}

.lender-field-label {
    font-weight: $font-weight-bold;
}

.lenders-list {
    .card {
        margin-bottom: $grid-gutter-width;
    }

    :last-child .card {
        margin-bottom: 0;
    }
}
