.t-and-c-sections {
    padding-left: 1rem;
    margin-bottom: $paragraph-margin-bottom;
    list-style-type: none;
    counter-reset: item;

    > .t-and-c-section {
        display: block;

        &:before {
            content: counters(item, ".") ". ";
            counter-increment: item;
        }
    }

    .t-and-c-sections {
        > .t-and-c-section {
            &:before {
                content: counters(item, ".") " ";
            }
        }
    }
}

.t-and-c-section-header {
    display: inline-block;
    font-weight: $font-weight-bold;
}
