<template>
    <div class="row justify-content-center form-section">
        <div class="col-12">
            <div class="card card-loading" v-if="loading == true">
                <h3 class="card-header">Confirmation</h3>
                <section class="card-body">
                    <p class="lead">Please wait while your documents load…</p>
                </section>
            </div>
            <div class="card card-error error" v-if="error !== false">
                <h3 class="card-header">Error</h3>
                <section class="card-body">
                    <p>Sorry, there has been a problem with loading your documents. Please refresh the page to try again.</p>
                    <p>If the problem persists, please <a href="https://www.returnmymoney.com/contact" target="_blank">get in touch</a>.</p>
                    <p class="small">Error: {{ error.status }} - {{ error.statusText }} - {{ error.data.message }}</p>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            applicantId: String
        },

        data: function () {
            return {
                config: null,
                client: null,
                loading: true,
                error: false
            }
        },

        methods: {
            embedForm: function () {
                let options = {
                    url: this.config.signUrl,
                    allowCancel: false,
                    messageListener: function (eventData) {
                        if (eventData.event === HelloSign.EVENT_SIGNED) {
                            $('#signed').val(eventData.signature_id);
                            $('#confirmation-form').submit();
                        }

                        if (eventData.event === HelloSign.EVENT_ERROR) {
                            this.error = true;
                        }
                    }
                };
                if (this.config.testMode === true) {
                    _.merge(options, {
                        skipDomainVerification: true
                    });
                }
                this.client.open(options);
            }
        },
        mounted() {
            this.client = HelloSign;
            axios.get('/api/document/' + this.applicantId)
                .then((response) => {
                    this.config = response.data;
                    this.client.init(this.config.clientId);
                    this.loading = false;
                    this.embedForm();
                })
                .catch((error) => {
                    this.loading = false;
                    this.error = error;
                });


        }
    }
</script>

<style scoped>

</style>
