<template>
    <div class="row justify-content-center form-section">
        <input type="hidden" id="applicant" name="applicant_id" :value="applicantId">
        <div class="col-12">
            <div class="card card-loading" v-if="loading == true">
                <h3 class="card-header">Please Wait…</h3>
                <section class="card-body">
                    <p class="lead">
                        <img src="/img/spinner.svg" alt="Loading Spinner"> Processing
                    </p>
                </section>
            </div>
            <div class="card card-pass" v-if="decision == '1'">
                <h3 class="card-header">Thank You</h3>
                <section class="card-body">
                    <p>We have confirmed your details. Please wait while we load the next part of the form.</p>
                </section>
            </div>
            <div class="card card-fail" v-if="decision == '-1' || decision == '0'">
                <h3 class="card-header">Whoops!</h3>
                <section class="card-body">
                    <p>
                        We can’t seem to find you on any of our databases. Is it possible you made a mistake inputting the details or missed out a previous address?<br>
                        Please review the information to help us locate you.
                    </p>
                    <p>It is important we check the details provided to ensure we are adhering to all regulations.</p>
                    <p>
                        Please click the button below to check the details you provided and try again.<br>
                        <strong>Do not use the back button.</strong>
                    </p>
                    <p><button type="submit" class="btn btn-primary">Check my Details</button></p>
                </section>
            </div>
            <div class="card card-error error" v-if="error !== false">
                <h3 class="card-header">Error</h3>
                <section class="card-body">
                    <p>Sorry, there has been a problem with checking your identity. Please refresh the page to try again.</p>
                    <p>If the problem persists, please <a href="https://www.returnmymoney.com/contact" target="_blank">get in touch</a>.</p>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            applicantId: String,
            attempts: Number
        },

        data: function () {
            return {
                decision: null,
                reason: null,
                loading: true,
                error: false
            }
        },

        methods: {
            processResult: function (response) {
                if (typeof response.data.Decision !== 'undefined') {
                    console.log(response);
                    this.decision = response.data.Decision.Outcome;
                    this.reason = response.data.Decision.Reason;
                } else {
                    this.error = response.data;
                }

                $('#identity_result').val(this.decision);
                $('#identity_reason').val(this.reason);

                // Data and form submission
                if (this.decision === '1') {
                    $('#identity-form').submit();
                }
            }
        },
        mounted() {
            if (this.attempts < 3) {
                axios.get('/api/identity/' + this.applicantId)
                    .then((response) => {
                        this.processResult(response);
                    })
                    .catch((error) => {
                        this.error = error;
                    })
                    .then(() => {
                        this.loading = false;
                    });
            } else {
                this.loading = false;
                this.error = {
                    'status': 401,
                    'statusText': 'Too many attempts',
                    'message': 'Too many requests to ID service'
                }
            }
        }
    }
</script>

<style scoped>

</style>
