<template>
    <div class="row justify-content-center form-section">
        <div v-for="lenderType in lenderTypesArray" class="col-12">
            <div class="card">
                <h3 class="card-header">{{lenderType.name}}</h3>
                <section class="card-body">
                    <p>Please select the lenders you've had loans with including those you’ve paid off.</p>

                    <div v-if="lenderType.id == 1" class="alert alert-primary" role="alert">
                        <p>If you used <strong>Pounds to Pocket</strong> or <strong>On Stride</strong>, please select <strong>Quick Quid</strong>.<br>
                            If you used <strong>Quid.co.uk</strong>, <strong>1 Month Loan</strong>, <strong>1 Month Money</strong> please select <strong>Sunny</strong>.</p>
                    </div>

                    <div v-if="lenderType.id == 2" class="alert alert-primary" role="alert">
                        <p>If you used one of the following lenders, please select <strong>Consollo</strong></p>
                        <ul>
                            <li>Compare Guarantor Loans,</li>
                            <li>Solution Money,</li>
                            <li>Solution Finance,</li>
                            <li>QuickSilver Loans,</li>
                            <li>Now Finance,</li>
                            <li>Now Loans,</li>
                            <li>Solution Loans</li>
                        </ul>
                        <p>If you used one of the following lenders, please select <strong>George Banco</strong></p>
                        <ul>
                            <li>Everyday Loans,</li>
                            <li>Trusttwo,</li>
                            <li>Everyday Direct,</li>
                            <li>SELFY</li>
                        </ul>
                        <p>If you used one of the following lenders, please select <strong>TFS</strong></p>
                        <ul>
                            <li>Guarantorloans.co,</li>
                            <li>Click-loans.co.uk,</li>
                            <li>thefinancestore.co.uk,</li>
                            <li>needsome.money</li>
                        </ul>
                    </div>
                    <div class="row">
                        <lender
                            :lender-data="lender"
                            :questions="lenderType.questions"
                            v-for="lender in lenderType.lenders"
                            :key="lender.id"
                            v-on:add-lender="onAddLender"
                            v-on:remove-lender="onRemoveApplicantLenderFromLender">
                        </lender>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <h3 class="card-header">My Loans</h3>
                <section class="card-body">
                    <p v-if="applicantLenders.length < 1">Please choose your lenders to add to your claim.</p>
                    <div class="row">
                        <applicant-lender
                            v-for="al in applicantLenders"
                            :al-data="al"
                            :questions="questionsArray"
                            :key="al.lenderId"
                        >
                        </applicant-lender>
                    </div>
                </section>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        props: {
            applicant: Object,
            questions: String,
            lenderTypes: String,
            formData: {
                type: String,
                default: ''
            }
        },
        computed: {
            questionsArray: function () {
                return JSON.parse(this.questions);
            },
            lenderTypesArray: function () {
                return JSON.parse(this.lenderTypes);
            }
        },
        data: function () {
            return {
                applicantLenders: []
            };
        },
        methods: {
            onAddLender: function (applicantLender) {
                let tempArray = this.applicantLenders;
                _.remove(tempArray, (al) => {
                    return al.lenderId === applicantLender.lenderId;
                });
                tempArray.push(applicantLender);
                this.applicantLenders = []; // Daft array observation bug in Vue.js
                this.applicantLenders = tempArray;
            },
            onRemoveApplicantLenderFromLender: function (lenderId) {
                let tempArray = this.applicantLenders;
                _.remove(tempArray, (al) => {
                    return al.lenderId === lenderId;
                });
                this.applicantLenders = []; // Daft array observation bug in Vue.js
                this.applicantLenders = tempArray;
            }
        }
    }
</script>
