<template>
    <div class="row justify-content-center form-section">
        <div class="col-md-12">
            <div class="card">
                <h3 class="card-header">IMPORTANT: Previous Addresses</h3>
                <section class="card-body">
                    <p class="lead">
                        A large number of claims get rejected due to previous addresses not being provided.<br>
                        Increase your chances of a successful claim by providing all your previous addresses.
                    </p>
                    <p>Please add any previous addresses you may have had when you took out your payday loans</p>
                    <div class="addresses-form">
                        <p class="addresses-form-cta"><button type="button" class="btn btn-primary" v-on:click="showForm">Add Address</button></p>
                        <address-lookup
                            form-data=""
                            name-prefix="previous-address"
                            :emit-to-parent="true"
                            v-if="formVisible"
                            v-on:submitted-address="onSubmittedAddress">
                        </address-lookup>
                    </div>
                    <div class="address-list row" v-if="previousAddresses.length">
                        <div class="card" v-for="(address, index) in previousAddresses">
                            <div class="card-body">
                                <div class="form-group">
                                    <input type="text"
                                           class="form-control-plaintext"
                                           readonly
                                           :name="'addresses[' + index + '][flat_no]'"
                                           :value="address.flat_no">
                                    <input type="text"
                                           class="form-control-plaintext"
                                           readonly
                                           :name="'addresses[' + index + '][building_no_name]'"
                                           :value="address.building_no_name">
                                    <input type="text"
                                           class="form-control-plaintext"
                                           readonly
                                           :name="'addresses[' + index + '][address_line_1]'"
                                           :value="address.address_line_1">
                                    <input type="text"
                                           class="form-control-plaintext"
                                           readonly
                                           :name="'addresses[' + index + '][address_line_2]'"
                                           :value="address.address_line_2">
                                    <input type="text"
                                           class="form-control-plaintext"
                                           readonly
                                           :name="'addresses[' + index + '][town]'"
                                           :value="address.town">
                                    <input type="text"
                                           class="form-control-plaintext"
                                           readonly
                                           :name="'addresses[' + index + '][county]'"
                                           :value="address.county">
                                    <input type="text"
                                           class="form-control-plaintext"
                                           readonly
                                           :name="'addresses[' + index + '][postcode]'"
                                           :value="address.postcode">
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-outline-danger" v-on:click="removeAddress(index)">Remove this address</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            formData: {
                type: String,
                default: ''
            }
        },
        data: function () {
            return {
                previousAddresses: [],
                formVisible: false
            }
        },
        methods: {
            showForm: function () {
                this.formVisible = true;
            },
            onSubmittedAddress: function (submittedAddress) {
                this.previousAddresses.push(submittedAddress);
                this.formVisible = false;
            },
            removeAddress: function (index) {
                this.previousAddresses.splice(index, 1);
            }
            // TODO: Add edit capability
        },
        mounted() {
            if (this.formData.length > 0 && this.formData !== '[]') {
                const formData = JSON.parse(this.formData);
                let addresses = [];
                _.each(formData.addresses, function (address) {
                    addresses.push(address);
                });
                this.previousAddresses = [];
                this.previousAddresses = addresses;
            }
        }
    }
</script>
