<template>
    <div class="address-lookup">
        <div class="row">
            <div class="col-12">
                <p class="alert alert-danger" role="alert" v-if="errorMessage">
                    {{ errorMessage }}
                </p>
            </div>
            <div class="form-group col-md-7 col-lg-6">
                <label :for="'pc-lookup' + id">Postcode Lookup</label>
                <input
                    type="text"
                    class="form-control"
                    :id="'pc-lookup' + id"
                    name="pc-lookup"
                    v-model="postcode"
                    :disabled="requestInProgress"
                    v-on:keypress.enter="runLookup"
                    @input="postcode = $event.target.value.toUpperCase()"
                >
                <small class="form-text">Enter your postcode and click Lookup to fill your address.</small>
            </div>
            <div class="form-group col-md-5 col-lg-6">
                <label class="d-md-block d-none">&nbsp;</label>
                <div class="button-group">
                    <button class="btn btn-primary " type="button" :disabled="requestInProgress" v-on:click="runLookup" v-text="requestInProgress ? 'Please wait…' : 'Lookup'">Lookup</button>
                    <button class="btn btn-secondary" type="button" v-on:click="showAddressForm" v-if="!showAddress">Enter Manually</button>
                </div>

            </div>
        </div>
        <div class="row address-lookup-field" v-if="addressesAvailable">
            <div class="form-group col-lg-6">
                <label :for="'address-lookup-select' + id">Please select your address from the list:</label>
                <select name="address" :id="'address-lookup-select' + id" class="form-control" v-model="selectedAddressString" v-on:change="showAddressForm">
                    <option v-for="address in addresses" :value="address.json">{{ address.string }}</option>
                </select>
            </div>
        </div>
        <div class="address-filled" v-if="showAddress">
            <hr>
            <div class="row">
                <div class="form-group col-md-6">
                    <label :for="namePrefix + '-flat-no-' + id">Flat Number/Name</label>
                    <input
                        type="text"
                        class="form-control"
                        :id="namePrefix + '-flat-no-' + id"
                        :name="namePrefix + '[flat_no]'"
                        v-model="selectedAddress.flat_no"
                    >
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label :for="namePrefix + '-building-no-' + id">Building Number/Name</label>
                    <input
                        type="text"
                        class="form-control"
                        :id="namePrefix + '-building-no-name-' + id"
                        :name="namePrefix + '[building_no_name]'"
                        v-model="selectedAddress.building_no_name"
                    >
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label :for="namePrefix + '-line-1-' + id">Address Line 1</label>
                    <input
                        type="text"
                        class="form-control"
                        :id="namePrefix + '-line-1-' + id"
                        :name="namePrefix + '[address_line_1]'"
                        v-model="selectedAddress.address_line_1"
                    >
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label :for="namePrefix + '-line-2-' + id">Address Line 2</label>
                    <input
                        type="text"
                        class="form-control"
                        :id="namePrefix + '-line-2-' + id"
                        :name="namePrefix + '[address_line_2]'"
                        v-model="selectedAddress.address_line_2"
                    >
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label :for="namePrefix + '-town-' + id">Town</label>
                    <input
                        type="text"
                        class="form-control"
                        :id="namePrefix + '-town-' + id"
                        :name="namePrefix + '[town]'"
                        v-model="selectedAddress.town"
                    >
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label :for="namePrefix + '-county-' + id">County</label>
                    <input
                        type="text"
                        class="form-control"
                        :id="namePrefix + '-county-' + id"
                        :name="namePrefix + '[county]'"
                        v-model="selectedAddress.county"
                    >
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label :for="namePrefix + '-postcode-' + id">Postcode</label>
                    <input
                        type="text"
                        class="form-control"
                        :id="namePrefix + '-postcode-' + id"
                        :name="namePrefix + '[postcode]'"
                        v-model="selectedAddress.postcode"
                    >
                </div>
            </div>
            <div class="row" v-if="emitToParent">
                <div class="form-group col-md-2">
                    <button type="button" class="btn btn-primary" v-on:click="submitToParent">Add to List</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            namePrefix: {
                type: String,
                default: ''
            },
            emitToParent: {
                type: Boolean,
                default: false
            },
            formData: {
                type: String,
                default: ''
            }
        },
        data: function () {
            return {
                id: null,
                postcode: '',
                showAddress: false,
                addresses: [],
                selectedAddressString: null,
                errorMessage: '',
                requestInProgress: false
            }
        },
        computed: {
            addressesAvailable: function () {
                return this.addresses.length;
            },
            selectedAddress: function () {
                if (this.selectedAddressString) {
                    return JSON.parse(this.selectedAddressString);
                } else {
                    return {
                        flat_no: '',
                        building_no_name: '',
                        address_line_1: '',
                        address_line_2: '',
                        town: '',
                        county: '',
                        postcode: ''
                    };
                }
            }
        },
        methods: {
            resetForm: function () {
                this.addresses = [];
                this.postcode = '';
                this.showAddress = false;
                this.selectedAddressString = '';
                this.errorMessage = '';
            },
            runLookup: function () {
                this.requestInProgress = true;
                axios
                    .get('api/address-lookup/' + this.postcode)
                    .then((response) => {
                        if (typeof(fbq) !== 'undefined') {
                            fbq('track', 'FindLocation');
                        }
                        this.resetForm();
                        this.addresses = _.map(response.data.addresses, (rawAddress) => {
                            const jsonAddress = JSON.stringify(rawAddress);
                            const stringAddress = rawAddress.formatted_address;
                            return _.merge(rawAddress, {
                                'json': jsonAddress,
                                'string': stringAddress
                            });
                        });
                    })
                    .catch((error) => {
                        this.resetForm();
                        this.errorMessage = error.data.errorMessage;
                    })
                    .then(() => {
                        this.requestInProgress = false;
                    });
            },
            showAddressForm: function () {
                this.showAddress = true;
            },
            submitToParent: function () {
                this.$emit('submitted-address', this.selectedAddress);
                this.resetForm();
            }
        },
        mounted() {
            this.id = this._uid;
            if (this.formData.length > 0 && this.formData !== '[]') {
                const formData = JSON.parse(this.formData);
                if (typeof(formData[this.namePrefix]) !== 'undefined') {
                    this.selectedAddressString = JSON.stringify(formData[this.namePrefix]);
                    this.showAddressForm();
                }
            }
        }
    }
</script>
