<template>
    <div class="col-12 col-md-6 col-lg-4">
        <div v-bind:class="cardClass">
            <h5 v-bind:class="headerClass">{{ alData.lenderName }}</h5>
            <section class="card-body">
                <input type="hidden"
                       readonly
                       :name="'lenders[' + alData.id + '][lender_id]'"
                       :value="alData.lenderId">
                <input type="hidden"
                       readonly
                       :name="'lenders[' + alData.id + '][pre_screen]'"
                       :value="alData.preScreen">
                <div class="form-group application-lender-data">
                    <label class="application-lender-label" :for="'lenders-' + alData.id + '-lender-years'">
                        Year(s) Borrowed:
                    </label>
                    <input v-if="alData.lenderData.lender_type_id == 1"
                           type="text"
                           class="form-control-plaintext application-lender-value application-lender-year"
                           :id="'lenders-' + alData.id + '-first_year'"
                           readonly
                           :name="'lenders[' + alData.id + '][first_year]'"
                           :value="alData.firstYear">
                    <span v-if="alData.lenderData.lender_type_id == 1" class="form-control-plaintext application-lender-year-joiner">to</span>
                    <input v-if="alData.lenderData.lender_type_id == 1"
                           type="text"
                           class="form-control-plaintext application-lender-value application-lender-year"
                           :id="'lenders-' + alData.id + '-last_year'"
                           readonly
                           :name="'lenders[' + alData.id + '][last_year]'"
                           :value="alData.lastYear">

                    <input v-if="alData.lenderData.lender_type_id == 2"
                           type="text"
                           class="form-control-plaintext application-lender-value application-lender-year"
                           :id="'lenders-' + alData.id + '-first_year'"
                           readonly
                           :name="'lenders[' + alData.id + '][first_year]'"
                           :value="alData.firstYear">

                    <label class="application-lender-label" :for="'lenders-' + alData.id + '-number_loans'">
                        Number of Loans:
                    </label>
                    <input type="text"
                           class="form-control-plaintext application-lender-value"
                           :id="'lenders-' + alData.id + '-number_loans'"
                           readonly
                           :name="'lenders[' + alData.id + '][number_loans]'"
                           :value="alData.numberLoans">

                    <label class="application-lender-label" :for="'lenders-' + alData.id + 'previous_claim'">
                        Previously claimed against this lender?
                    </label>
                    <input type="hidden"
                           :id="'lenders-' + alData.id + '-previous_claim'"
                           readonly
                           :name="'lenders[' + alData.id + '][previous_claim]'"
                           :value="alData.previousClaim === '1' ? '1' : '0'">
                    <input type="text"
                           class="form-control-plaintext application-lender-value"
                           readonly
                           :value="alData.previousClaim === '1' ? 'Yes' : 'No'">

                    <label :for="'lenders-' + alData.id + 'questions'" class="application-lender-label">
                        Circumstances
                    </label>
                    <ul class="circumstances">
                        <li v-for="statement in alData.lenderCircumstances">
                            <input type="hidden" :name="'lenders[' + alData.id + '][questions][]'" :value="statement">
                            {{ findQuestion(statement) }}
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <button type="button" class="btn btn-outline-danger" v-on:click="removeLender">Remove this lender</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            alData: Object,
            questions: Array
        },
        computed: {
            cardClass: function () {
                let ret = 'card border-danger';
                if (this.alData.preScreen) {
                    ret = 'card border-success';
                }
                return ret;
            },
            headerClass: function () {
                let ret = 'card-header bg-danger text-light';
                if (this.alData.preScreen) {
                    ret = 'card-header bg-success text-light';
                }
                return ret;
            }
        },
        methods: {
            findQuestion: function (id) {
                const q = _.find(this.questions, (qO) => {
                    return qO.id === id;
                });
                return q.question;
            },
            removeLender: function () {
                this.alData.removeApplicantLender();
            }
        }
    }
</script>
