<template>
    <div class="col-12 col-md-6 col-lg-4">
        <button
            type="button"
            :class="cssClass"
            data-toggle="modal"
            :data-target="'#modal-lender-' + id">
            {{ lenderData.name }}
        </button>
        <div class="modal" tabindex="-1" role="dialog" :id="'modal-lender-' + id">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ lenderData.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="lender-field-label" v-if="lenderData.special_notes !== null">{{ lenderData.special_notes }}</p>
                        <div class="form-group">
                            <p v-if="lenderData.lender_type_id == 1" class="lender-field-label">How many loans (and ‘rollovers’) have you had with this lender?</p>
                            <p v-if="lenderData.lender_type_id == 1" class="form-help mark"><small class="strong">If you had to “roll over” or renew your loans with the same company in order to repay the loan before, please count each roll over as a separate loan.</small></p>

                            <p v-if="lenderData.lender_type_id == 2" class="lender-field-label">How many loans (and ‘top-ups’) have you had with this lender?</p>
                            <p v-if="lenderData.lender_type_id == 2" class="form-help mark"><small class="strong">If you had to “top up” or renew your loans with the same company in order to repay the loan before, please count each roll over as a separate loan.</small></p>

                            <div class="form-check form-check-inline">
                                <input
                                    type="radio"
                                    class="form-check-input"
                                    :id="'number-loans-1-3-' + id"
                                    name="number-loans"
                                    v-model="numberLoans"
                                    value="1-3">
                                <label :for="'number-loans-1-3-' + id" class="form-check-label">1-4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    type="radio"
                                    class="form-check-input"
                                    :id="'number-loans-4-9-' + id"
                                    name="number-loans"
                                    v-model="numberLoans"
                                    value="4-9">
                                <label :for="'number-loans-4-9-' + id" class="form-check-label">5-9</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    type="radio"
                                    class="form-check-input"
                                    :id="'number-loans-10-' + id"
                                    name="number-loans"
                                    v-model="numberLoans"
                                    value="10+">
                                <label :for="'number-loans-10-' + id" class="form-check-label">10+</label>
                            </div>
                        </div>
                        <div v-if="lenderData.lender_type_id == 1" class="form-group form-row">
                            <p class="col-12 lender-field-label">Please state the years in which you took out the loans</p>
                            <div class="form-group col-6">
                                <label class="d-block" :for="'first-year-' + id">First Year:</label>
                                <select
                                    class="form-control"
                                    name="first-year"
                                    :id="'first-year-' + id"
                                    v-model="firstYear">
                                    <option v-for="year in years" :value="year">{{ year }}</option>
                                </select>
                            </div>
                            <div class="form-group col-6">
                                <label class="d-block" :for="'last-year-' + id">Last Year:</label>
                                <select
                                    class="form-control"
                                    name="last-year"
                                    :id="'last-year-' + id"
                                    v-model="lastYear">
                                    <option v-for="year in years" :value="year">{{ year }}</option>
                                </select>
                            </div>
                        </div>
                        <div v-if="lenderData.lender_type_id == 2" class="form-group form-row">
                            <p class="col-12 lender-field-label">Please state the year in which you took out the loans</p>
                            <div class="form-group col-6">
                                <label class="d-block" :for="'year-' + id">Year:</label>
                                <select
                                    class="form-control"
                                    name="first-year"
                                    :id="'year-' + id"
                                    v-model="firstYear">
                                    <option v-for="year in years" :value="year">{{ year }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="lender-field-label">Have you previously made a claim against this lender?</p>
                            <div class="form-check form-check-inline">
                                <input
                                    type="radio"
                                    class="form-check-input"
                                    :id="'previous-claim-yes-' + id"
                                    name="previous-claim"
                                    v-model="previousClaim"
                                    value="1">
                                <label :for="'previous-claim-yes-' + id" class="form-check-label">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    type="radio"
                                    class="form-check-input"
                                    :id="'previous-claim-no-' + id"
                                    name="previous-claim"
                                    v-model="previousClaim"
                                    value="0">
                                <label :for="'previous-claim-no-' + id" class="form-check-label">No</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="lender-field-label">Please check any statements that apply to your situation with this lender.</p>
                            <div class="form-group" v-for="question in questions">
                                <div class="form-check form-check-inline" >
                                    <label :for="'questions-' + question.id + '-' + id">
                                        <input
                                            type="checkbox"
                                            class="form-check-input"
                                            :id="'questions-' + question.id + '-' + id"
                                            :name="'questions-' + id"
                                            v-model="lenderCircumstances"
                                            :value="question.id">
                                        {{ question.question }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" v-if="preScreen !== null">
                            <p class="text-success" v-if="preScreen === 1">Based on your responses we believe you have a case against this lender.</p>
                            <p class="text-danger" v-if="preScreen === 0">Based on your responses we don’t believe you have a case against this lender.</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" v-on:click="removeApplicantLender">Remove lender</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" v-bind:disabled="!preScreen" v-on:click="saveApplicantLender">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    const moment = require('moment');
    export default {
        props: {
            lenderData: Object,
            questions: Array
        },
        computed: {
            preScreen: function () {
                if (this.numberLoans === '' && this.previousClaim === null) {
                    return null;
                }

                let loansPass = false;
                let previousClaimPass = false;
                if (this.numberLoans) {
                    loansPass = true;
                }
                if (this.previousClaim && this.previousClaim === '0') {
                    previousClaimPass = true;
                }
                return loansPass && previousClaimPass ? 1 : 0;
            },
            years: function () {
                const today = moment();
                const max = 5;
                let years = [];
                for (let i = 0; i <= max; i++) {
                    if (i === 0) {
                        years.push(today.format('Y'));
                    } else {
                        years.push(today.clone().subtract(i, 'years').format('Y'));
                    }
                }
                return years;
            }
        },
        data: function () {
            return {
                id: null,
                lenderId: this.lenderData.id,
                lenderName: this.lenderData.name,
                numberLoans: '',
                previousClaim: null,
                firstYear: null,
                lastYear: null,
                cssClass: 'btn btn-outline-dark btn-block lender-button',
                lenderCircumstances: []
            }
        },
        methods: {
            saveApplicantLender: function () {
                this.setCssClass();
                this.$emit('add-lender', this);
            },
            removeApplicantLender: function () {
                this.numberLoans = '';
                this.previousClaim = null;
                this.firstYear = null;
                this.lastYear = null;
                this.$emit('remove-lender', this.lenderId);
                this.setCssClass();
            },
            setCssClass: function () {
                if (this.preScreen === 1) {
                    this.cssClass = 'btn btn-success btn-block';
                } else if (this.preScreen === null) {
                    this.cssClass = 'btn btn-outline-dark btn-block';
                } else {
                    this.cssClass = 'btn btn-danger btn-block';
                }
            }
        },
        mounted() {
            this.id = this._uid;
            if (this.$parent.formData.length > 0 && this.$parent.formData !== '[]') {
                const formData = JSON.parse(this.$parent.formData);
                const thisLenderFromData = _.get(formData, 'lenders[' + this.id + ']', false);
                if (thisLenderFromData !== false) {
                    let me = this;
                    this.numberLoans = thisLenderFromData.number_loans;
                    this.previousClaim = thisLenderFromData.previous_claim;
                    this.firstYear = thisLenderFromData.first_year;
                    this.lastYear = thisLenderFromData.last_year;
                    _.each(thisLenderFromData.questions, function (qID) {
                        const question = _.find(me.questions, function (o) {
                            return o.id == qID;
                        });
                        if (typeof(question) !== 'undefined') {
                            me.lenderCircumstances.push(question.id);
                        }
                    });
                    this.saveApplicantLender();
                }
            }
        }
    }
</script>
